*{
  box-sizing: border-box;
}

body {
  background: #FFD9EC;
  font-family: Calibri, Arial, sans-serif;
  margin: 25px;
}

h1 {
  text-align: center;
}

p {
  padding: 20px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
   clear: both;
}

.seasons {
  max-width: 250px;
  float: left;
  margin-left: 50px;
}

article {
  padding-top: 40%;
}

@media screen (min-width: 800px) {
  .seasons {
    float: none;
    margin: auto;
  }
}
